<div class="logo">iDea bOx</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="body-container row col-sm-10 justify-content-md-center">
        <div class="col-sm-4 side-bar">
            <div class="idea-summary-container">
              <div class="summary-header">
                  <input class="form-control" placeholder="filter ideas">
              </div>
              <div class="idea-summary-body">
                <span class="idea" *ngFor="let idea of ideas" (click)="selectIdea(idea)">
                  <span class="idea-content">
                    {{idea.content.substr(0, 50) + ' ...'}}
                  </span>
                  <div class="options col-xs-12">
                      <span class="option">Edit</span>
                      <span class="option pull-right">Delete</span>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-8 main-display">
              <idea-view [idea]="selectedIdea"></idea-view>
          </div>
      </div>
  </div>
</div>