<main-header></main-header>
<loader></loader>
<div class="container">
  <div class="row">
    <div class="col col-sm-4 side-bar sticky-top">
        <div class="idea-summary-container">
          <div class="summary-header">
              <input 
                  class="form-control" 
                  placeholder="Search ideas"  
                  (ngModelChange)="filterData($event)"
                  [(ngModel)]="filterText">
          </div>
          <div class="col-xs-12 well text-center new-idea" (click)="editIdea(newIdeaTemplate)">
              <i class="icon fa fa-plus"></i> new idea
          </div>
          <div class="idea-summary-body">
            <span class="idea" *ngFor="let idea of ideas" [ngClass]="selectedIdea._id == idea._id? 'active-idea' : ''">
              <span class="idea-content" (click)="selectIdea(idea)">
                <div [froalaView]="idea.content.substr(0, 50)"></div> ...
              </span>
              <div class="options col-xs-12">
                  <span class="option" (click)="editIdea(idea)">Edit</span>
                  <span class="option" (click)="deleteIdea(idea)">Delete</span>
              </div>
            </span>
          </div>
          <pagination [ideas]="ideas" (onPaginate)="loadIdeas($event)"></pagination>
        </div>
    </div>
    <div class="col-sm-8 main-display">
        <idea-view [idea]="selectedIdea" (edit)="viewMode = 'edit'" *ngIf="viewMode === 'preview'"></idea-view>
        <idea-edit 
          [idea]="selectedIdea" 
          *ngIf="viewMode === 'edit'"
          (save)="saveIdea($event)"
          (update)="updateIdea($event)"
          (cancel)="cancelEdit()"></idea-edit>
    </div>
  </div>
</div>